---
layout: page
title: 作品
header: 在线作品
group: navigation
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}
  {% include JB/tags_list %}
</ul>

<div class = "card">

  <h2 class="hat_title">作品</h2>
  <ul>

    <li><a href="http://pyrinelaw.github.io/petrus-3d-slide">3D滑动滚屏控件 petrus-3d-slide</a></li>
    <li><a href="http://pyrinelaw.github.io/petrus-select">下拉控件 petrus-select</a></li>
    <li><a href="http://pyrinelaw.github.io/PureMvc-scene-demo">PureMvc多场景运用 PureMvc-scene-demo</a></li>
    <li><a href="http://pyrinelaw.github.io/Http">元素Http请求控件 Http</a></li>
    <li><a href="http://pyrinelaw.github.io/pAlert">提示信息控件 pAlert</a></li>
    <li><a href="http://pyrinelaw.github.io/pBut">button控件 pBut</a></li>
    <li><a href="http://pyrinelaw.github.io/pNav">面包屑导航控件 pNav</a></li>
    <li><a href="http://pyrinelaw.github.io/pTip">下拉提示控件 pTip</a></li>
    <li><a href="https://www.github.com/pyrinelaw">更多请访问 https://www.github.com/pyrinelaw</a></li>
  </ul>


</div>
